.container{
  padding-left: 0px;
  padding-right: 0px;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px;
  padding: 50px 0px;
  padding-left: 200px;
  border-bottom: 0px ridge;
  min-height: 400px;
  background-color: black;
}
.footer {
  color: white;
  margin: 0px auto;
  padding: 20px 0px;
}
address {
  font-size: 80%;
  margin: 0px;
  color: white;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark  {
  background-color: black;
}
.navbar-nav > li{
  padding-left:8px;
  padding-right:8dpx;
  text: white;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  position: absolute;
  padding-top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btns {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8B0000;
  color: white;
  font-size: 16px;
  padding: 8px 66px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btns:hover {
  background-color: red;
}
a{
 color: floralwhite;
}
a:hover{
  color:grey;
  text-decoration: none;
}
.footer-dark{
  background-color:black;
}
.content{

  background-color: #1f1f1f;
  padding-top: 40px;
  padding-bottom: 40px;
}
.cards{
  padding: 40px 15px 0px 15px;
  margin-bottom: 30px;
}
.menuitems {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.table>tbody>tr>td{
    border:0px;
  }
.bottom{
  border-bottom: 1px ridge;
}
